html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: aliceblue;
}

h3.nice {
    font-family: 'Lucida Handwriting';
    font-size: 60px;
    color: darkred;
    background-color: antiquewhite;
}

div.mylist{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: black;
    background-color: palegoldenrod;
    margin-left: 10px;
}